<header>
    <nav>
        <ul class="topmenu">
            <li><a href="">Главная</a></li>
            <li><a class="submenu-link">Мебель<img src="../../../assets/images/drop-down-arrow.svg"></a>
                <ul class="submenu">
                    <li><a routerLink="living-room">для гостиной</a></li>
                    <!-- <span class="gray-line"> </span> -->
                    <li><a href="">для детской</a></li>
                    <!-- <span class="gray-line"> </span> -->
                    <li><a routerLink="kitchen">для кухни</a></li>
                    <!-- <span class="gray-line"> </span> -->
                    <li><a href="">для спальни</a></li>
                    <!-- <span class="gray-line"> </span> -->
                    <li><a href="">шкафы-купе</a></li>
                </ul>
            </li>
            <li><a>Рассчитать стоимость<img src="../../../assets/images/drop-down-arrow.svg"></a>
                <ul class="submenu">
                    <li><a routerLinkActive='active' routerLink="project-cost">проекта</a></li>
                    <!-- <span class="gray-line"> </span> -->
                    <li><a routerLinkActive='active' routerLink="closet-cost">шкафа-купе</a></li>
                    <!-- <span class="gray-line"> </span> -->
                    <li><a routerLinkActive='active' routerLink="kitchen-cost">кухни</a></li>
                    <!-- [routerLink]="[{ outlets: { primary: ['kitchen-cost'],cost: ['kitchen-cost'] } }]" -->
                </ul>
            </li>
            <li><a href="">Контакты</a></li>
        </ul>
    </nav>
</header>