@import '../../../constants.scss';

header {
    height: 90px;
    background-color: $backPrivate;
    padding-top: 30px;
}

header a {
    display: block;
    text-decoration: none;
    outline: none;
    font-family: 'Roboto';
    font-size: $text;
    cursor: pointer;
    color: $lightBlack;
}

nav {
    display: table;
    margin: 0 auto;
}

img {
    width: 10px;
    margin-left: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topmenu:after {
    content: "";
    display: table;
    clear: both;
}

.topmenu>li {
    float: left;
    position: relative;
}

.topmenu>li>a {
    color: $lightBlack;
    margin-left: 20px;
    margin-right: 20px;
    height: 30px;

    &:hover {
        border-bottom: 3px solid $orange;
        color: $lightBlack !important;
    }
}

.submenu {
    width: 200px;
    height: auto;
    color: $softGray;
    background: $baseWhite;
    box-shadow: 0px 2px 8px rgb(137, 137, 137);
    position: absolute;
    left: 0;
    z-index: 5;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: .5s ease-in-out;
}

.submenu a {
    // text-align: left;
    padding: 10px 10px;
    padding-left: 30px;
    margin-bottom: 0px;
    // border: 1px solid red;
    height: 50px;
    width: 100%;
    text-decoration: none;
    font-size: $text;
    color: $lightBlack;
    transition: 0.2s;

    &:visited {
        color: $lightBlack;
    }

    &:hover{
        font-size: 1.2em;
        transition: 0.2s;
    }
}

.topmenu li a:hover {
    color: $orange;
}

.gray-line {
    width: 80%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
    border-bottom: 1px solid $gray;
}

a:last-child {
    margin-bottom: 20px;
}

.topmenu>li:hover .submenu {
    opacity: 1;
    transform: scaleY(1);
}


.active{
    color: $orange;
}