<div class="furniture">
  <div class="furniture-title">Кухни</div>
  <div class="furniture-descr furniture-descr-descr1">
    <div class="furniture-descr__text">
      Мы изготавливаем кухни по индивидуальному заказу в Могилеве и области. 
      В наших силах воплотить в жизнь функциональные и надежные кухни на заказ, 
      учитывая все особенности Вашего помещения. Богатый выбор материалов поможет
      реализовать Ваши мечты и пожелания.
    </div>
    <div class="furniture-descr__items">
      <ul>
        <li>Матовые и глянцевые фасады</li>
        <li>Глубоко структурированные фасады</li>
        <li>Фасады из массива дерева (Италия, Беларусь)</li>
        <li>Столешницы из кварцевого камня </li>
      </ul>
    </div>
    <button class="furniture-descr__button">Подробнее</button>
  </div>
</div>

<div class="furniture">
    <div class="furniture-title">Шкафы - купе</div>
    <div class="furniture-descr furniture-descr-descr2">
      <div class="furniture-descr__text">
          Шкаф-купе на заказ - неотъемлемая часть современного интерьера. Именно встроенные и корпусные шкафы-купе, изготовленные по индивидуальному заказу, являются наиболее удобными и практичными в использовании. При проектировании шкафа-купе на заказ мы учитываем множество факторов для того, чтобы шкаф был максимально удобным и функциональным именно для Вас.
      </div>
      <div class="furniture-descr__items">
        <ul>
          <li>Широкий выбор расцветок профиля для дверей</li>
          <li>Цветное стекло</li>
          <li>Фотопечать и пескоструйные рисунки</li>
          <li>Матовые и глянцевые пластики</li>
        </ul>
      </div>
      <button class="furniture-descr__button">Подробнее</button>
    </div>
  </div>
  
  <div class="furniture">
      <div class="furniture-title">Мебель</div>
      <div class="furniture-descr furniture-descr-descr3">
        <div class="furniture-descr__text">
            Мы изготавливаем корпусную мебель по индивидуальному заказу в Могилеве. Гостиные, спальни, детские, прихожие на заказ - идеальное решение для Вашего дома! Ведь мебель, изготовленная по индивидуальному заказу, наиболее точно соответствует тому, что бы Вы хотели видеть в своем доме.
        </div>
        <div class="furniture-descr__items">
          <ul>
            <li>Богатый выбор современных материалов/li>
            <li>Надежная и качественная фурнитура</li>
            <li>Возможность реализации практически любой Вашей идеи</li>
          </ul>
        </div>
        <button class="furniture-descr__button">Подробнее</button>
      </div>
    </div>
    
  