@import '../../../constants.scss';

.furniture {
    display: flex;
    // flex-direction: column;
    // align-items: center;
    background-color: $black;
    // padding-bottom: 40px;

    &-title {
        font-weight: 500;
        font-size: $title;
        color: $lightBlack;

        &__title-number {
            font-size: $title;
            color: $orange;
            margin-right: 20px;
        }
    }

    &-img1 {
        background-image: url(../../../assets/images/kitchen1.jpg);
        background-size: cover;
        width: 50%;
        height: 630px;
    }

    &-img2 {
        background-image: url(../../../assets/images/kitchen2.jpg);
        background-size: cover;
        width: 50%;
        height: 630px;
        position: relative;

    }

    &-img3 {
        background-image: url(../../../assets/images/kitchen3.jpg);
        background-size: cover;
        width: 50%;
        height: 630px;

    }


    &-descr {
        height: 630px;
        // margin-top: 40px;
        font-size: $text;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 90%;
        background-color: $skin;
        color: $lightGray;
        // &-descr1 {
        //     background-color: $lightBlack;
        // }
        // &-descr2 {
        //     background-color: $darkGray;
        // }
        // &-descr3 {
        //     background-color: $lightBlack;
        // }
        &__text {
            width: 70%;
            text-align: center;
        }
        &__items {
            margin-top: 20px;
        }
        &__button {
            color: $lightGray;
            width: 30%;
            height: 60px;
            font-size: $button;
            border: 3px solid $lightGray;
            border-radius: 30px;
            background: none;
            margin-top: 40px;
            outline: none;
            &:hover {
                color: $baseWhite;
                border: 3px solid $orange;
                background-color: $orange;
            }
        }
    }
}

li {
    margin: 0;
    padding: 10px 0 10px $title;
    list-style: none;
    background-image: url('../../../assets/images/check-mark-sign.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: $text;
}