<div class="title">
    <div class="title-elems">
        <h3>Рассчитать стоимость шкафа-купе</h3>
        <h5>Внимание! Только с 3 по 20 июня проводится уникальная АКЦИЯ на Шкафы-купе! Спешите заказать Ваш шкаф со скидкой - 25%! Рассчитайте&nbsp;стоимость Вашего шкафа со скидкой прямо сейчас! Галерею наших работ можно посмотреть <a href="/mebel/shkafy-kupe">ЗДЕСЬ</a>.</h5>
    </div>
    <iframe class="uCalc-frame_167817" src="https://api.ucalc.pro/api/167817?bg_color=transparent&amp;TID=SlJeV0VX#https%3A%2F%2Fbellacasa.by%2Frasschitat-stoimost%2Frasschitat-stoimost-shkafa-kupe" scrolling="no" style="border: 0px; width: 100%; height: 1018px;"
    frameborder="0"></iframe>
</div>