@import '../../../constants.scss';

.footer {
    height: 320px;
    background-color: $softGray;
    color: $baseWhite;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 60px;
    // font-weight: bold;

    &-logo {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__logo {
            font-size: $title;
        }

        &__time {
            font-size: $text;
            margin-top: 20px;
            display: flex;
            justify-content: space-between;

            &-icon {
                width: 20px;
                height: 20px;
                margin-right: 20px;
                display: inline-block;
                background-image: url('../../../assets/images/white/time.svg');
                background-size: cover;
            }
        }
    }

    &-contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &__title {
            font-size: $title;
            align-self: center;
        }

        &__number,
        &__mail {
            margin-top: 20px;
            font-size: $text;
            &-icon {
                width: 20px;
                height: 20px;
                margin-right: 20px;
                display: inline-block;
                background-image: url('../../../assets/images/white/telephone.svg');
                background-size: cover;
            }
        }

        .mi {
            background-image: url('../../../assets/images/white/envelope.svg');
        }
    }
    
    &-social {
        font-size: $text;
        font-size: $title;
    }
}