<div class="footer">

    <div class="footer-logo">
        <div class="footer-logo__logo">LENGREEN</div>
        <div class="footer-logo__time">
          <span class="footer-logo__time-icon"> </span>
          Пн - Пт: 10.00 - 18.00</div>
    </div>

    <div class="footer-contacts">
        <div class="footer-contacts__title">Контакты</div> 
        <div class="footer-contacts__number">
            <span class="footer-contacts__number-icon"> </span>
          +375 - 22 - 22 - 22 - 22</div>
        <div class="footer-contacts__number">
            <span class="footer-contacts__number-icon"> </span>
          +375 - 22 - 22 - 22 - 22</div>

        <div class="footer-contacts__mail">
            <span class="footer-contacts__mail-icon"> </span>
          lengreen@mail.ru</div>
    </div>

    <div class="footer-social">
        <div  class="footer-social__title"> Мы в соц. сетях </div>
    </div>
</div>