<div class="offer">
    <div class="offer-title"> Почему следует выбрать нас?</div>
    <div class="offer-title__line"></div>
    <div class="offer-items">
      <div class="offer-items__item item-1">
        <div class="offer-items__item__icon" 
        style="background-image : url('../../../assets/images/page-2/save-money.svg')"></div>
        <div class="offer-items__item__title">ВЫГОДНО</div>
        <div class="offer-items__item__text">Мы замеряем, доставляем и устанавливаем Вашу мебель абсолютно бесплатно.</div>
      </div>
      <div class="offer-items__item item-2">
          <div class="offer-items__item__icon"
          style="background-image : url('../../../assets/images/page-2/like.svg')"></div>
          <div class="offer-items__item__title">ФУНКЦИОНАЛЬНО</div>
          <div class="offer-items__item__text">Вся мебель изготавливается специально для Вас, исходя из Ваших нужд и запросов.</div>
      </div>
      <div class="offer-items__item item-3">
          <div class="offer-items__item__icon"
          style="background-image : url('../../../assets/images/page-2/security.svg')"></div>
          <div class="offer-items__item__title">КАЧЕСТВЕННО</div>
          <div class="offer-items__item__text"> Мы имеем 20-летний опыт работы. Это позволяет изготавливать только качественные изделия.</div>
      </div>
    </div>
</div>