@import '../../../constants.scss';

header {
    padding-top: 30px;
    height: 200px;
    background-color: $backCorporative;
    position: relative;

    .button {
        text-align: center;
        width: 100%;

        &-calculate {
            color: $lightBlack;
            width: 18%;
            height: 60px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding-bottom: 5px;
            border: 3px solid $lightBlack;
            border-radius: 30px;
            font-size: 1.3rem;
            background: none;
            outline: none;
            margin-bottom: 20px;
            position: absolute;
            bottom: 20px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;

            &:hover {
                color: $baseWhite;
                border: none;
                background-color: $orange;
            }
        }
    }
}

header a {
    display: block;
    text-decoration: none;
    outline: none;
    font-family: 'Roboto';
    font-size: $text;
    cursor: pointer;
    color: $lightBlack;
}

nav {
    display: table;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topmenu:after {
    content: "";
    display: table;
    clear: both;
}

.topmenu>li {
    float: left;
    position: relative;
}

.topmenu>li>a {
    color: $lightBlack;
    margin-left: 20px;
    margin-right: 20px;
    
    &:hover {
        border-bottom: 3px solid $orange;
        color: $lightBlack !important;
    }
}