<div class="item">
  <img class="item-img" src='{{item.url}}'> 
  <div class="item-description">
    <div class="item-description__name">{{item.name}}</div>

    <div class="item-description-elem">
      <div class="item-description-elem__title">Стиль:</div>
    {{item.style}}</div>

    <div class="item-description-elem">
      <div class="item-description-elem__title">Материал корпуса:</div>
      {{item.material}}</div>

    <div class="item-description-elem">
      <div class="item-description-elem__title">Варианты фасадов:</div>
      {{item.facades}}</div>

    <div class="item-description-elem">
      <div class="item-description-elem__title ">Стоимость в базовой комплектации:</div>
      <span class=" item-description-elem-prise">{{item.prise}} BYN за 1 м. пог. </span></div>

    <div class="item-description-elem item-description-elem__button">
      <app-calculate-the-cost-button></app-calculate-the-cost-button>
    </div>
  </div>
</div>