<div class="offer">
    <div class="offer-title"> Мы предлагаем</div>
    <div class="offer-items">
      <div class="offer-items__item item-1">
        <div class="offer-items__item__icon"></div>
        <div class="offer-items__item__title">БЕСПЛАТНАЯ ДОСТАВКА</div>
        <div class="offer-items__item__text">Мы доставляем мебель бесплатно. Это экономит Ваши деньги.</div>
      </div>
      <div class="offer-items__item item-2">
          <div class="offer-items__item__icon"></div>
          <div class="offer-items__item__title">РАССРОЧКА</div>
          <div class="offer-items__item__text">Рассрочка до 24 месяцев без первоначального взноса и переплат.</div>
          <button class="offer-items__item__button">Подробнее</button>
      </div>
      <div class="offer-items__item item-3">
          <div class="offer-items__item__icon"></div>
          <div class="offer-items__item__title">РАСШИРЕННАЯ ГАРАНТИЯ</div>
          <div class="offer-items__item__text">20-летний опыт позволяет нам давать расширенную гарантию на наши изделия.</div>
          <button class="offer-items__item__button">Подробнее</button>
      </div>
    </div>
</div>