@import '../../../constants.scss';
.offer {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
        margin-top: 70px;
        font-size: 50px;
    }
    &-items {
        display: flex;
        margin-top: 70px;
        flex-wrap: nowrap;
        width: 100%;
       
        &__item {
            width: 40%;
            // height: 635px;
            padding-bottom: 180px; 
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 40px;
            position: relative;

            &__icon{
              width: 100px;
              height: 100px;
              // background-image: url('../../../assets/images/delivery-truck.svg');
              background-size: 100%;
            }
            &__title{
              font-weight: bold;
              font-size: 48px;
              color: $baseWhite;
              margin-top: 50px;
              width: 80%;
              text-align: center;
              height: 150px;
              display: flex;
              align-items: center;
              justify-content: center;

            }
            &__text{
              font-size: 36px;
              color: $baseBlack;
              width: 80%;
              margin-top: 5%;
              text-align: center;
            }

            &__button{
             color: $baseWhite;
             width: 50%;
             height: 99px;
             border: 3px solid $baseWhite;
             border-radius: 60px;
             font-size: 2rem;
             background: none;
             margin-top: 40px;
             position: absolute;
             bottom: 40px;
             outline: none;

             &:hover{
              color: $baseBlack;
              border: 3px solid $baseBlack;
             }
            }
        }
    }
    .item {
        &-1 {
            background-color: $darkOrange;
        }
        &-2 {
            background-color: $orange;
        }
        &-3 {
            background-color: $lightOrange;
        }
    }
}