<div class="cont">
<div class="header">
    <div class="header__logo">LENGREEN</div>
    <div class="header__contacts">
        <a class="header__contacts__number">
            <span class="header__contacts__number-icon"> </span>
             +375 - 22 - 22 - 22 - 22
        </a>

        <a class="header__contacts__number">
            <span class="header__contacts__number-icon">  </span>
             +375 - 22 - 22 - 22 - 22
        </a>

        <a class="header__contacts__mail">
            <span class="header__contacts__mail-icon mi"> </span>
             lengreen@mail.ru
        </a>
    </div>
</div>
<div class="title">
    Изготовление мебели по индивидуальным проектам в Могилёве
</div>
</div>