@import '../../../constants.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.cont {
    background-color: $black;
}

.header {
    display: flex;
    justify-content: space-around;
    font-size: $text;
    text-transform: uppercase;
    align-items: center;
    height: 88px;
    color: $baseWhite;
    background-color: $lightBlack;

    &__logo {
        font-size: $text;
    }

    &__contacts {
        display: flex;
        font-size: $small;

        &__number,
        &__mail {
            &-icon {
                width: 15px;
                height: 15px;
                margin-left: 30px;
                display: inline-block;
                background-image: url('../../../assets/images/white/telephone.svg');
                background-size: cover;
                
                &.mi {
                    background-image: url('../../../assets/images/white/envelope.svg');
                    background-size: cover;
                }
            }
        }
    }
}

.title {
    text-align: center;
    width: 40%;
    font-size: $title;
    margin: auto;
    margin-top: 100px;
    background-color: $black;
    color: $baseWhite;
    &-logo {
        font-weight: bold;
        font-size: $logo;
        text-align: center;
        text-transform: uppercase;
    }
}