@import '../../../constants.scss';

.about {
    background-color: $backPrivate;
    color: $lightBlack;

    &__title {
        font-size: $title;
        text-align: center;
        padding-top: 30px;
        margin-bottom: 20px;
    }

    &__description {
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: $text;
        display: flex;
        justify-content: space-around;

        &-map>img {
            width: 100%;
            height: auto;
            margin-left: 5%;
        }
        
        &-text {
            width: 50%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }
    }
}