<div class="about">
    <div class="about__title">О компании</div>
    <div class="about__description">
        <div class="about__description-map">
            <img src="../../../assets/images/page-2/map.png">
        </div>
        <div class="about__description-text">
            Наша компания существует на рынке производства корпусной мебели по индивидуальным заказам с 1999 г. На собственном производстве у наших квалифицированных специалистов есть всё необходимое современное оборудование, позволяющее произвести изделие быстро,
            качественно и в срок. В соответствии с Вашими пожеланиями мы сможем составить индивидуальный дизайн и изготовить любой эксклюзивный проект, максимально удовлетворяющий запросам самого требовательного клиента. Вся мебель изготавливается под
            заказ с учетом индивидуальных требований заказчика, что обеспечивает ее наибольшую функциональность и удобство для клиента.
            <div class="about__description-text__text-address">г. Могилев, проспект Мира 32, офис 306</div>
        </div>
    </div>
</div>