@import '../../../constants.scss';

.navigation {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 350;
    font-size: $text;
    line-height: 20px;
    color: $softGray;
    background-color: $black;

    &-link {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 10px;
        border-bottom: 3px solid $softGray;
        text-decoration: none;

        &:visited {
            color: $softGray;
        }
        
        &:hover {
            color: $baseWhite;
            border-bottom: 3px solid $baseYellow;
            cursor: pointer;
        }
    }
}

a:active {
    border-bottom: 3px solid $baseYellow;
    color: $baseBlack !important;
}