@import './fonts.scss';

$baseBlack: rgb(0, 0, 0);
$baseWhite: rgb(255, 255, 255);
$baseYellow: #AA8D66;
$black: #1e1e1e;
$lightBlack: #333333;
$softGray: #424242;
$darkGray: #242424;
$gray: #CBCAC7;
$footerGray:#f4f4f4;

// fonts
$roboto: Roboto;

// fonts sizes
$logo: 110px;
$title: 30px;
$text: 20px;
$button: 1.3rem;
$small: 15px;