@import './fonts.scss';

$baseBlack: rgb(0, 0, 0);
$baseWhite: rgb(255, 255, 255);
$baseYellow: #AA8D66;
$black: #1e1e1e;
$lightBlack: #333333;
$softGray: #424242;
$lightGray: #A7A7A7;
$darkGray: #242424;
$gray: #CBCAC7;
$footerGray:#f4f4f4;
$cardBlack: #1C1C1C;
//----------
$orange: #FCA947;
$backPrivate: #F7F5F4;
$backCorporative:#EBE2DD;
$skin: #EBE2DD;



// fonts
$roboto: Roboto;

// fonts sizes
$logo:  48px;
$title: 30px;
$text: 20px;
$button: 1.3rem;
$small: 15px;