@import '../../../constants.scss';

header {
    height: 130px;
    background-color: $black;
}

header a {
    display: block;
    text-decoration: none;
    outline: none;
    font-family: 'Roboto';
    font-size: $text;
    cursor: pointer;
    color: $baseWhite;
}

nav {
    display: table;
    margin: 0 auto;
}

img {
    width: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topmenu:after {
    content: "";
    display: table;
    clear: both;
}

.topmenu>li {
    float: left;
    position: relative;
}

.topmenu>li>a {
    font-weight: bold;
    color: $baseWhite;
    padding: 20px 20px;

    &:hover {
        border-bottom: 3px solid $baseYellow;
        color: $baseWhite !important;
    }
}

.topmenu li a:hover {
    color: $baseYellow;
}

.submenu-link:after {
    font-family: "FontAwesome";
    color: inherit;
    margin-left: 10px;
}

.submenu {
    width: 300px;
    height: auto;
    background: $lightBlack;
    box-shadow: 0px 4px 7px $black;
    position: absolute;
    left: 0;
    z-index: 5;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: .5s ease-in-out;
}

.submenu a {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 0px;
    text-decoration: none;
    font-size: $text;
    color: $baseWhite;
    
    &:visited {
        color: $baseWhite;
    }
}

.gray-line {
    width: 80%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
    border-bottom: 1px solid $black;
}

a:last-child {
    margin-bottom: 20px;
}

.topmenu>li:hover .submenu {
    opacity: 1;
    transform: scaleY(1);
}