<div class="production">
    <div class="production-title">Наша продукция</div>
    <div class="production-items">
        <div class="production-items__item-title"><span class="production-items__item-number">01.</span>Мебель для офиса</div>
        <div class="production-items__item-icon" style="background-image : url('../../../assets/images/page-2/desk.svg')"></div>
        <div class="production-items__item-text">Мы изготавливаем офисную мебель по индивидуальному заказу в Могилеве и области. Функциональная и надежная офисная мебель проектируется, учитывая все особенности Вашего помещения. Многообразие решений дает возможность каждому клиенту подчеркнуть
            свою индивидуальность.</div>
        <div class="production-items__item-blocks">
            <div class="block-1">
             <p class="block-text">Мебель для руководителей и персонала</p>
            </div>
            <div class="block-2">
                <p class="block-text">  Системы хранения документов</p>
            </div>
            <div class="block-3">
                <p class="block-text">   Мини-кухни для офиса</p>
            </div>
        </div>
    </div>
</div>
<div class="production">
    <div class="production-items">
        <div class="production-items__item-title"><span class="production-items__item-number">02.</span>Торговое оборудование</div>
        <div class="production-items__item-icon" style="background-image : url('../../../assets/images/page-2/shelves.svg')"></div>
        <div class="production-items__item-text">
            Мы разрабатываем индивидуальные конструкции для наиболее удобного размещения товара. Эстетичный и практичный дизайн от квалифицированных специалистов учитывает все особенности Вашего помещения. При проектировании торговой мебели на заказ мы учитываем множество факторов для того, чтобы она была максимально удобной и функциональной.  
        </div>
        <div class="production-items__item-blocks">
            <div class="block-1">
             <p class="block-text">Мебель для салонов и магазинов</p>
            </div>
            <div class="block-2">
                <p class="block-text">Торговое оборудование для аптек</p>
            </div>
            <div class="block-3">
                <p class="block-text">Стеллажи, витрины и торговые островки</p>
            </div>
        </div>
    </div>
</div>
<div class="production">
    <div class="production-items">
        <div class="production-items__item-title"><span class="production-items__item-number">03.</span>Столы и стойки</div>
        <div class="production-items__item-icon" style="background-image : url('../../../assets/images/page-2/receptionist.svg')"></div>
        <div class="production-items__item-text">
            В любом помещении стойка-ресепшн - это центральный предмет, который в первую очередь видит посетитель. Поэтому его дизайну и проектированию уделяется большое внимание. Комфортное место администратора помогает судить о респектабельности организации, а многофункциональность стойки-ресепшн обеспечивают возможность качественного обслуживания клиентов.
        </div>
        <div class="production-items__item-blocks">
            <div class="block-1">
             <p class="block-text">Стойки-ресепшен любой конфигурации</p>
            </div>
            <div class="block-2">
                <p class="block-text">Столы для администратора</p>
            </div>
            <div class="block-3">
                <p class="block-text">Возможность реализации любой Вашей идеи</p>
            </div>
        </div>
    </div>
</div>