@import '../../../constants.scss';
.production {
    display: flex;
    flex-direction: column;
    background-color: $backCorporative;

    &-block {
        display: flex;
        justify-content: center;
    }

    &-img {
        background-color: brown;
        width: 50%;
        // height: 30rem;
    }

    &-title {
        margin-top: 70px;
        font-size: $title;
        color: $lightBlack;
        margin-bottom: 20px;
        text-align: center;

        &__line {
            width: 70px;
            height: 3px;
            background-color: $orange;
            align-self: center;
            // margin-top: 25px;
            margin-bottom: 10px;
        }
    }

    &-items {
        background-color: $backPrivate;
        color: $lightBlack;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        padding-bottom: 50px;

        &__item-number {
            color: $orange;
            margin-right: 20px;
        }

        &__item-title {
            font-size: $title;
            margin-top: 30px;
        }

        &__item-text {
            font-size: $text;
            width:  85%;
            margin-top: 20px;
            color: $lightGray;
        }

        &__item-blocks {
            margin-top: 50px;
            width: 85%;
            font-size: $text;
         
            .block-text {
                width: 90%;
                margin-bottom: 10px;

            }
        }
    }
}

.line{
    margin-top: 30px;
}