@import '../../../../constants.scss';
.card {
    width: 400px;
    display: flex;
    flex-direction: column;
    border: none;
    margin: 30px;
    cursor: pointer;
    transition: 0.5s;
    
    &-image {
        width: 400px;
        height: 400px;
    }

    &-description {
        display: flex;
        height: 150px;
        flex-direction: column;
        background-color: $cardBlack;
        color: $baseWhite;

        &__name{
          font-size: $title;
          align-self: flex-end;
          margin-right: 30px;
          font-weight: bold;
          margin-top: 10px;
        }

        &__number {
          display: inline-flex;
          justify-content: space-around;
          align-items: center;
          font-weight: bold;
          font-size: $title + 6px;
          color: $baseYellow;

          &-line {
            display: inline-block;
            width: 60%;
            height: 3px;
            background-color: $baseYellow;
          }
        }

        &__prise {
          align-self: flex-end;
          height: 100%;
          margin-right: 30px;
          font-size: $text;
        }
    }

    &:hover{
      box-shadow: 0 0 15px $baseBlack;
      transition: 0.5s;
    }
}